/* Install font */
@font-face {
    font-family: Righteous;
    src: url(../font/Righteous-Regular.ttf);
}

body {
    margin: 0;
}

.container {

    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(45, 72, 124), rgb(90, 90, 192));
    height: 500px;
}

.header .logo {
    font-size: 32px;
    float: left;
    font-family: Righteous;
}

.header .navigation {
    float: right;
    margin-top: 40px;
}

.header .navigation li {
    float: right;
    margin-left: 20px;
    font-size: 16px;
    display: block;

}

.header .navigation li a {
    color: white;
    text-decoration: none;
    font-family: Audiowide;
}

.header .navigation li a:hover {
    color: red;
    text-decoration: underline;
}

.icon {
    width: 500px;
    height: 500px;
    background-image: url(../images/download.jfif);
    background-color: red;
    background-size: cover;
    border-radius: 50%;
}

.parent {
    margin-top: 100px;
}